<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="./styles/header.css">
  <link rel="stylesheet" href="./styles/index.css">

<body>
  <header class="header">
    <img src="./images/college_logo.png" alt="" class="img1">
    <a href="index.html" class="title"><img src="./images/title.png"></a>
    <img src="./images/club_logo.png" alt="" class="img2">
  </header><br><br>
  <div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>LOGIN</h3>
          <p>Please enter your credentials to login.</p>
        </div>
      </div>
      <form class="login-form">
        <input type="text" placeholder="username" />
        <input type="password" placeholder="password" />
        <button>login</button>
        <p class="message">Not registered? <a href="register.html">Create an account</a></p>
      </form>
    </div>
  </div>
</body>

</html>