<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{% static './styles/header.css' %}">
  <link rel="stylesheet" href="{% static './styles/index.css' %}">

<body>
  <header class="header">
    <img src="{% static './images/college_logo.png' %}" alt="" class="img1">
    <a onclick="location.href = '/'" class="title"><img src="{% static './images/title.png' %}"></a>
    <img src="{% static './images/club_logo.png' %}" alt="" class="img2">
  </header><br><br>
  <table class="table">
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p style="color:red">
              {{msg}}<br>
            </p>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form action="{% url 'login_view' %}" method="POST" class="login-form">
          {% csrf_token %}
          <input type="text" placeholder="username" name="username" />
          <input type="password" placeholder="password" name="password" />
          <button type="submit">login</button>
          <p class="message">Not registered? <a onclick="location.href = '/register'">Create an account</a></p>
        </form>
      </div>
    </div>
</body>

</html>