<!DOCTYPE html> {% load static%}
{% static 'images' as base_url %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static './styles/header.css' %}">
  <link rel="stylesheet" href="{% static './styles/questions.css' %}">
  <title></title>
</head>

<body>

  <header class="header">
    <img src="{% static './images/college_logo.png' %}" alt="" class="img1">
    <a onclick="location.href = '/'" class="title"><img src="{% static './images/title.png' %}"></a>
    <img src="{% static './images/club_logo.png' %}" alt="" class="img2">
  </header><br><br><br><br><br>
  <div class="level-display">{{lvl}}</div>
  <div class="question-box"><br>
    {{question}}
    <br>
    <img src="{{question.imgpath}}" alt=""
      class="ques-img">
  </div><br><br><br>
  <form action="{% url 'checkans' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="answer" value="" class="input-box" placeholder="Enter your answer here"><br><br><br><br>
    <button type="submit" name="button" class="submit_button">SUBMIT</button><br>

  </form>
  <button onclick="location.href = '/leaderboard'" class="leaderboard-btn" style="margin-left: 680px;
    margin-bottom: 150px;
    background-color: green;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;">Leaderboard</button>

</body>

</html>