body{
    background-image: linear-gradient(to bottom right, red, yellow);
    background-repeat: no-repeat;
    height: 750px;
}

.table-c{
    margin-left: auto;
    margin-right: auto;
    color: lavenderblush;
    font-size: 20pt;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 10px;
}